@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --body-color: #e4e9f7;
  --nav-color: #4070f4;
  --side-nav: #010718;
  --text-color: #ffeba7;
  --search-bar: #f2f2f2;
  --search-text: #010718;
}
body {
  height: 100vh;
  background-color: var(--body-color);
}
body.dark {
  --body-color: #18191a;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color: #ccc;
  --search-bar: #242526;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: #2f2e3e;
  z-index: 100;
}
nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: #2f2e3e;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--search-bar);
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
  margin: 10px;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}
.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.nav-bar .logo a::before {
  content: "";
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #ffeba7;
}
.nav-links li a::before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: 0;
  transform: translateX(50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #ffeba7;
  opacity: 0;
  transition: all 0.3s ease;
}
.nav-links li:hover a::before {
  opacity: 1;
}
.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}
.darkLight-searchBox .drak-light,
.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}
.drak-light i,
.searchToggle i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.drak-light i.sun {
  opacity: 0;
  pointer-events: none;
}

.drak-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}

.drak-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}
.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}
.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.searchToggle.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}
body.dark .search-field input {
  color: var(--text-color);
}

.search-field i {
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}
body.dark .search-field i {
  color: var(--text-color);
}

@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }
  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }
  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  nav.active .menu {
    left: -0%;
  }
  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
    padding-left: 2px;
  }
  .nav-links li a {
    display: block;
    margin-top: 2px;
  }
}
/* ! new main page css */
.container {
  position: relative;
  width: 1160px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  perspective: 500px;
  margin: auto;
  margin-top: 90px;
}
.container .box {
  position: relative;
  width: 275px;
  height: 275px;
  background: #000;
  transition: 0.5s;
  transform-style: preserve-3d;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.container .box:hover {
  transform: rotateY(0deg) scale(1.25);
  z-index: 1;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.5);
}
.container .box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .box .imgBx:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ffeba7, #000);
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  mix-blend-mode: multiply;
}
.container .box:hover .imgBx:before {
  opacity: 1;
}
.container .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .box .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  padding: 20px;
  align-items: flex-end;
  box-sizing: border-box;
}
.container .box .content h2 {
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 20px;
  transform: translateY(200px);
  transition-delay: 0.3s;
}
.container .box:hover .content h2 {
  transform: translateY(0px);
}
.container .box .content p {
  color: #fff;
  transition: 0.5s;
  font-size: 14px;
  transform: translateY(200px);
  transition-delay: 0.4s;
}
.container .box:hover .content p {
  transform: translateY(0px);
}
body {
  /* background-image: url("https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg"); */
  /* background-size: cover; */
  background-color: #fffcf2;

  -webkit-animation: slidein 100s;
  animation: slidein 100s;

  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1 {
  text-align: center;
  color: white;
  font-family: "Source Code Pro", monospace;
  text-transform: uppercase;
}
.footer-basic {
  padding: 60px;
  background-color: #2f2e3e;
  color: #ffeba7;
  position: relative;
  bottom: -206px;
  width: 100%;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 10px 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}


/* !blurry bg for text */
.containerr {
  backdrop-filter: blur(20px) saturate(70%);
  border-radius: 10px;
  font-size: 20px;
  width: 50%;
  text-align: center;
  margin: 100px auto;
  background-color: #fff7da;
}
.containerr hr {
  width: 50%;
  margin: 0px auto;
}

/* !about us styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'prppine', sans-serif;
}
.section{
    width: 100%;
    min-height: 100vh;
    /* background-color: #ddd; */
}
.container_about{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;

}
.content-section{
    float: left;
    width: 55%;
    backdrop-filter: blur(20px) saturate(70%);
    border-radius: 10px;
    padding: 20px;
}
.image-section{
    float:right;
    width: 40%;
}
.image-section img{
width: 100%;
height: auto;
border-radius:5px;


}
.content-section .title{
    /* text-transform: uppercase; */
    font-size: 20px;
}
.content-section .content h3{
    margin-top: 20px;
    color:#5d5d5d;
    font-size: 22px;
}
.content-section .content p{
    margin-top:  10px;
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.5;
}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 15px ;
    letter-spacing: 1.5px;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;
}
.content-section .content .button a:hover{
    background-color:#2f2e3e;
    color: #ffeba7;
}
.content-section .social{
    margin: 30px 10px;
}
.content-section .social i{
    color:#2f2e3e;
    font-size: 30px;
    padding: 0px 10px;
    transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
    transition-property: color, background-color, box-shadow, border-color;
}
.social i:hover {
    color: #ffeba7;
}
@media screen and (max-width: 768px) 
{
    .container_about{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 100px;
    }
    .content-section{
        float: none;
        width: 100%;
        backdrop-filter: blur(20px) saturate(70%);
        border-radius: 10px;
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
        border-radius: 5px;

    }
    .image-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button{
      padding: 15px 50px;
      margin-left: 60px; 

    }   
    .content-section .social {
     padding-left: 110px;
   
       
     

    }
}

.button_help a{
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 15px ;
  letter-spacing: 1.5px;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;
}
.button_help a:hover{
  background-color:#2f2e3e;
  color: #ffeba7;
}
.social_help{
  margin: 30px 10px;
}
.social_help i{
  color:#2f2e3e;
  font-size: 30px;
  padding: 0px 10px;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;
}



/* !cards styling */

.wrapper {
  margin: 0 auto !important;
  width: fit-content;
  padding: 20px;
}
#main {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  min-width: 0;
  background-clip: border-box;
  font-variant-caps: petite-caps;
  border-radius: 0.25rem;
  background-color: #2f2e3e;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  color: #ffeba7;
  border: 2px solid #ffeba7;
  border-radius: 10px;
}

#container {
  display: inline-block !important;

  .p-4 {
    padding: 0% !important;
  }
}

#btn {
  color: #2f2e3e;
  background-color: #ffeba7;
  border-radius: 7px;
}
#btn > a {
  text-decoration: none;
  color: black;
}

/*! << This is a new css lines for the hall info , Done By Awad >> */
.card {
  margin-bottom: 30px;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0;
}
.card .card-subtitle {
  font-weight: 300;
  margin-bottom: 10px;
  color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f3f8fa!important
}
.table-product td{
  border-top: 0px solid #dee2e6 !important;
  color: #728299!important;
}
.container_hall_info{
  margin-top:20px;
  background-color: #edf1f5;
}
.carousel-inner {
  height: 363px;
  margin-top: 64px;
}
.info_img {
  width: 100%;
}

/* !profile page */
.profile_anchor {
  color: #ffeba7;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;
}
.profile_anchor:hover {
  color: gold;
  text-decoration: none;
}
.profile_btn {
  padding: 5px 10px;
  background-color: #ffeba7;
  color: black;
  border: 1px solid black;
  box-shadow: 1px 1px 1px;
  border-radius: 5px;
  transition: 80ms cubic-bezier(0.33, 1, 0.68, 1);
  transition-property: color, background-color, box-shadow, border-color;
}
.profile_btn:hover {
  background-color: gold;
}