<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hallsy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'hall_css/landing.css' %}" />
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  </head>
  <body>
    <div class="container">
      <header>
        <h2>
          <a href="#"><i class="ion-plane"></i>Hallsy</a>
        </h2>
        <nav>
          <ul>
            <li>
              <a href="/about_all" title="About">About</a>
            </li>
            <li>
              <a href="/help_all" title="Help">Help</a>
            </li>
          </ul>
        </nav>
      </header>

      <div class="cover">
        <h1 class="text" style="text-align: center;">Rent Your Dream Hall Today</h1>
        <h3 class="text" style="text-align: center;">Are you looking to host an unforgettable event? Look no further than our rental halls! <br> We offer beautiful and spacious venues suitable for dining, weddings, graduation parties and other special occasions.</h3>
        <p class="text" style="text-align: center;"><em>Don't worry, we got you covered!</em></p>
        <a href="/cities_all" class="btn" id="btn">Find out more!</a>
      </div>
    </div>
  </body>
</html>
